.vscode/**
.vscode-test/**
out/**
node_modules/**
**/node_modules/**
old/**
.github/**
.workshop/**
.workshop.lock
readme.md
src/**
.gitignore
.eslintrc.js
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
scripts/**
